{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_static %}

{% block title %}Exports {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Exports
</div>
{% endblock %}

{% block content %}
<h1>Exports</h1>

<section>
<h2>KCSM Registrations</h2>
<form action="registrations">
	<input type="submit" value="Generate">
</form>
</section>

<section>
<h2>KCSM Units</h2>
<form action="units">
	<label title="Inclusive">Start: <input type=date name=start placeholder="yyyy-mm-dd"></label>
	<label title="Inclusive">End: <input type=date name=end placeholder="yyyy-mm-dd"></label>
	<input type="submit" value="Generate">
</form>
</section>
{% endblock %}