{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static %}

{#
title and branding are copied from django/contrib/admin/templates/admin/base_site.html
Ideally we'd just extend that file but we can't since this current file has the same name (so it'd try to extend itself)
#}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
    {{ block.super }}
    <div id="topnav">
        <div id="reports_link"><a href="/reports/">Reports</a></div>
        <div id="exports_link"><a href="/exports/">Exports</a></div>
    </div>
{% endblock %}

{% block extrahead %}
    <style>
        #topnav > div {
            float: right;
            padding: 0 10px;
            font-size: 11px;
            text-align: right;
            font-weight: bold;
        }
        .module {
            margin-bottom: 3em;
        }
        .object-tools a.import_link {
            display: none;
        }
        .aligned label {
            width: 12em;
        }
        .help {
            text-indent: 4.5em;
        }
        .income_total {
            margin-left:40%
        }
        .income_total strong {
            margin-right:3em
        }
        @media print {
            #header,
            #reports_link,
            #user-tools,
            .breadcrumbs,
            #content > h1,
            .object-tools,
            .datetimeshortcuts,
            .related-widget-wrapper-link,
            .add-row a,
            .submit-row,
            #toolbar,
            #changelist-filter,
            .xfull,
            .paginator,
            .help {
                display: none;
            }
            .module,
            .inline-group,
            input,
            select,
            textarea {
                border: 0 !important;
            }
            form#changelist-form div.results {
                margin-right: 0px !important;
            }
            .form-row {
                padding-top: 4px !important;
                padding-bottom: 4px !important;
            }
        }
    </style>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script type="text/javascript">

    var adapt = {
        income_level_1: {{ settings.income_level_1 }},
        income_level_2: {{ settings.income_level_2 }},
        income_choices_monthly: {{ models.INCOME_CHOICES_MONTHLY|safe }},
        income_choices_yearly: {{ models.INCOME_CHOICES_YEARLY|safe }}
    };

    if (typeof django !== 'undefined' && django.jQuery) {
        (function ($) {
            $(document).ready(function () {

                $('#id_cost_share').parent().append('%')


                var income_inputs_sel = '.dynamic-incomesource_set .field-amount input';
                function compute_income_total() {
                    var income_total = 0;
                    $(income_inputs_sel).each(function () {
                        var $category = $('.field-category select', $(this).parent().parent());
                        if (this.value) {
                            if (adapt.income_choices_monthly.indexOf($category.val()) !== -1) {
                                income_total += parseFloat(this.value) * 12;
                            } else {
                                income_total += parseFloat(this.value);
                            }
                        }
                    });
                    var $destination = $('.add-row:first td', $(income_inputs_sel).parents());
                    var less_than;
                    if (income_total < adapt.income_level_1) {
                        less_than = '< $' + adapt.income_level_1;
                    } else if (income_total < adapt.income_level_2) {
                        less_than = '< $' + adapt.income_level_2;
                    } else {
                        less_than = 'not low income';
                    }
                    $('.income_total', $destination).remove();  // any previous value
                    $destination.append('<span class="income_total"><strong>Total: $'
                                        + income_total + '</strong>' + less_than + '</span>');
                }
                compute_income_total();
                $('#incomesource_set-group').on('change', income_inputs_sel, compute_income_total);
            });
        })(django.jQuery);
    }
  </script>
{% endblock %}