{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static %}

{#
title and branding are copied from django/contrib/admin/templates/admin/base_site.html
Ideally we'd just extend that file but we can't since this current file has the same name (so it'd try to extend itself)
#}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
    {{ block.super }}
    <div id="reports_link"><a href="/reports/">Reports</a></div>
{% endblock %}

{% block extrastyle %}
    <style>
        #reports_link {
            float: right;
            padding: 1.2em 10px;
            font-size: 11px;
            text-align: right;
            font-weight: bold;
        }
        .module {
            margin-bottom: 3em;
        }
        .object-tools a.import_link {
            display: none;
        }
        @media print {
            #reports_link,
            #user-tools,
            .breadcrumbs,
            #content > h1,
            .object-tools,
            .datetimeshortcuts,
            .related-widget-wrapper-link,
            .add-row a,
            .submit-row,
            #toolbar,
            #changelist-filter,
            .xfull,
            .paginator {
                display: none;
            }
            .module,
            .inline-group,
            input,
            select,
            textarea {
                border: 0 !important;
            }
            form#changelist-form div.results {
                margin-right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script type="text/javascript">

    var adapt = {
        income_level_1: {{ settings.income_level_1 }},
        income_level_2: {{ settings.income_level_2 }}
    };

    if (typeof django !== 'undefined' && django.jQuery) {
        (function ($) {
            $(document).ready(function () {
                var income_inputs_sel = '.dynamic-incomesource_set .field-amount input';

                function compute_income_total() {
                    var income_total = 0;
                    $(income_inputs_sel).each(function () {
                        if (this.value) {
                            income_total += parseFloat(this.value);
                        }
                    });
                    var $destination = $('.add-row:first td', $(income_inputs_sel).parents());
                    $('.income_total', $destination).remove();  // any previous value
                    var less_than;
                    if (income_total < adapt.income_level_1) {
                        less_than = '< $' + adapt.income_level_1;
                    } else if (income_total < adapt.income_level_2) {
                        less_than = '< $' + adapt.income_level_2;
                    } else {
                        less_than = 'not low income';
                    }
                    $destination.append(
                            '<span class="income_total" style="margin-left:40%"><strong style="margin-right:3em">Total: $'
                            + income_total + '</strong>' + less_than + '</span>');
                }

                compute_income_total();
                $('#incomesource_set-group').on('change', income_inputs_sel, compute_income_total);
            });
        })(django.jQuery);
    }
  </script>
{% endblock %}